body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    padding: 0;

}

header {
    background-color: #0b023a;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

.login-buttons {
    
    display: flex;
    align-items: center;
}

.login-button,
.register-button {
    color: #000000;
    border: 1px solid #ffffff;
    padding: 10px 50px;
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

a:hover {
    text-decoration: underline;
}

